/*

!README.md
!.gitignore

!Technology/
Technology/*
!Technology/ARBO\ Testbed
!Technology/ARBO\ Mini
!Technology/ARBO\ BT
!Technology/ESLO
!Technology/ESLO_PSP
!Technology/ESLO_Debugger
!Technology/NUTS
!Technology/KiCad

!assets
!_layouts/

*.DS_Store
*.SLDASM